params{
  mergefastqs.mem = '1G'
}

process {
  /* GENERIC TOOL SETTINGS */
  withLabel : GATK_4_1_3_0_SamToFastq {
    publishDir.path = "${params.out_dir}/FASTQ"
    publishDir.mode = 'copy'
    params.samtofastq.mem = '34G'
    params.samtofastq.toolOptions = ''
    cpus = 1
    memory = params.samtofastq.mem
    time = '24h'
  }

  withLabel : bash_4_2_46 {
    time = '1h'
    memory = '1G'
  }


  /* PROCESS SPECIFIC SETTING */


  withLabel : bash_4_2_46_Mergefastqs {
    params.mergefastqs.mem = '1G'
    params.mergefastqs.toolOptions = ''
    cpus = 1
    memory = params.mergefastqs.mem
    time = '4h'
    //publishDir.path = "${params.out_dir}"
    //publishDir.mode = 'copy'
  }

  withLabel : FGBIO_1_1_0_DemuxFastqs {
    params.demuxfastqs.mem = '34G'
    params.demuxfastqs.toolOptions = '--output-type Fastq --include-all-bases-in-fastqs true --metrics metrics.txt --sequencing-center USEQ --illumina-standards true'

    cpus = 1
    memory = params.demuxfastqs.mem
    time = '48h'
    publishDir.path = "${params.out_dir}/FASTQ"
    publishDir.mode = 'copy'
  }

  withLabel : FGBIO_1_1_0_SortBam {
    params.sortbam.mem = '34G'
    params.sortbam.toolOptions = '--sort-order TemplateCoordinate'
    cpus = 1
    memory = params.sortbam.mem
    time = '24h'
    publishDir.path = "${params.out_dir}/BAM"
    publishDir.mode = 'copy'
  }

  withLabel : FGBIO_1_1_0_CallMolecularConsensusReads {
    params.callmolecularconsensusreads.mem = '34G'
    params.callmolecularconsensusreads.toolOptions = '--error-rate-pre-umi=45 --error-rate-post-umi=30 --min-input-base-quality=30 --min-reads 1 '
    cpus = 1
    memory = params.callmolecularconsensusreads.mem
    time = '24h'
    publishDir.path = "${params.out_dir}/BAM"
    publishDir.mode = 'copy'
  }

  withLabel : FGBIO_1_1_0_FilterConsensusReads {
    params.filterconsensusreads.mem = '34G'
    params.filterconsensusreads.toolOptions = '--reverse-per-base-tags=true -M 1 -N 40 -e 0.1 -n 0.1'
    cpus = 1
    memory = params.filterconsensusreads.mem
    time = '24h'
    //publishDir.path = "${params.out_dir}/BAM"
    //publishDir.mode = 'copy'
  }

  withLabel : python_2_7_10_MakeUmiBam {
    params.makeumibam.mem = '34G'
    params.makeumibam.toolOptions = ''
    cpus = 1
    memory = params.makeumibam.mem
    time = '24h'
    publishDir.path = "${params.out_dir}/BAM"
    publishDir.mode = 'copy'
  }

  withLabel : python_2_7_10_CountUmiFamilies {
    params.countumifamilies.mem = '34G'
    params.countumifamilies.toolOptions = ''
    cpus = 1
    memory = params.countumifamilies.mem
    time = '24h'
    publishDir.path = "${params.out_dir}/QC"
    publishDir.mode = 'copy'
  }


}
