/* Always include process and resources config */
includeConfig 'nextflow.config'
includeConfig 'process.config'
includeConfig 'resources.config'

params {
  fastq_path = ''
  out_dir = ''
  singleEnd = false
  filter = false
  sample_sheet = '/hpc/cog_bioinf/cuppen/personal_data/sander/scripts/Nextflow/test_set/umi-set/R1-R2/SampleSheet.csv'
  read_structures = '8B9M 8B 9M61T 70T'
  
}
