/* Always include process and resources config */
includeConfig 'nextflow.config'
includeConfig 'process.config'
includeConfig 'resources.config'

params {
  fastq_path = ''
  out_dir = ''
  singleEnd = false
  filter = false
  sample_sheet = '/hpc/cog_bioinf/ubec/useq/raw_data/novaseq_umc01/200421_UMITEST_0334_BHNVJMDMXX/Data/Intensities/BaseCalls/SampleSheet.csv'
  read_structures = '8B7M 8B 9M41T 50T'

}
